#ui-datepicker-div {
  background: #fff;
  padding: 5px;
  -webkit-box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
  box-shadow: 0 0 6px 0 rgba(1,1,1,.3);
}
.calendar-nav {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  button.calnav, button.archive-calnav{
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    border: 1px solid darken($primary, 10%);
    padding: 5px 7px;
    border-radius: 0;
    color: #fff;
    background: $primary;
    margin-bottom: -10px;
    &:hover {
      background: darken($primary, 10%);
    }
  }
}

#eventsCalendar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  .la-ball-fall {
    position: inherit;
  }
  table.mindEventCalendar {
  	font-family: monospace;
  	width: 100%;
    thead {
      border: 1px solid $secondary;
    }
  	th {
  		background: $light;
  		color: $dark;
  		font-size: 1.3em;
  		padding: 5px;
      border-color: $secondary;
  		border-bottom: 1px solid $secondary;
  	}

  	tbody {
      tr {
        border: none;
      }
  		td {
        width: (100% / 7) !important;
        vertical-align: top;
  			border: 1px solid rgba(200, 200, 200, .3);
  			background: rgb(250, 250, 250);
        position: relative;

  			time {
          font-size: 1.2em;
          display: block;
          background: #fff;
          font-weight: bold;
          text-align: center;
          padding: 20px 5px;
          @include transition(200ms);
          .la-ball-fall {
            position: absolute;
            position: absolute;
            width: 100%;
          }
          &.selected {
            background: lighten($success, 40%);
          }
          &.whoops {
            background: lighten($danger, 40%);
          }
          &:hover {
            background: lighten($success, 50%);
          }
  			}
        &.today {
          border: 1px solid $primary;
        }
  			&.SCsuffix, &.SCprefix {
  				background: rgba(1, 1, 1, .1);
  			}

  			div.event {
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          span {
            font-size: .65em;
            padding: 5px;
            margin: 2px 0px;
            background: #858585;
            white-space: nowrap;
            width: 83%;
            &.new {
              background: $success;
            }
            &:hover {
              opacity: .9;
              cursor: pointer;
            }
            &.delete {
              flex-basis: 17%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-size: .9em;
              background: #fff;
              color: $danger;
              padding: 0 2px;
              &:hover {
                background: $danger;
                color: #fff;
              }
            }
          }
  			}

  		}
  	}

  }
  #editBox {
    position: absolute;
    z-index: 100;
    background: rgba(255,255,255,.9);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .container {
      width: 70%;
      margin: 0 auto;
      padding: 10px;
      h3 {
        text-align: center;
        margin-bottom: 10px;
      }
      .buttonContainer {
        width: 100%;
        margin-bottom: 10px;
        button.edit-button {
          &.update-event{
            display: block;
            width: 60%;
            margin: 0 auto;
            font-size: 1.2em;
            padding: 10px;
          }
          &.cancel {
            margin: 0 auto;
            display: block;
            background-color: $danger;
            border-color: darken($danger, 20%);
            &:hover {
              background-color: darken($danger, 20%);
            }
          }
        }
      }
      button.edit-button {

        &.update-event{
          display: block;
          width: 40%;
          margin: 0 auto;
          font-size: 1.2em;
          padding: 10px;
        }
        &.cancel {
          margin: 0 auto;
          display: block;
          background-color: $danger;
          border-color: darken($danger, 20%);
        }
      }
    }
  }
}

#publicCalendar, #archiveCalendar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  .calendar-nav {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    h3.month-display {
      margin: 0;
    }
  }
  table.mindEventCalendar {
  	width: 100%;
    table-layout: fixed;
  	th {
  		background: rgba(255,255,255,.7);
  		color: $dark;
      text-align: center;
  		font-size: 1.1em;
  		padding: 5px;
      border: none;
  	}

  	tbody {
      tr {

      }
  		td {
        width: (100% / 7) !important;
        vertical-align: top;
  			border: 1px solid rgba(200, 200, 200, .2);
  			background: rgba(255,255,255,.4);
        position: relative;

  			time {
          font-size: 1.1em;
          display: block;
          background: transparent;
          font-weight: bold;
          text-align: center;
          padding: 20px 5px;

  			}
        &.today {
          background: lighten($primary, 40%);
          time {
            background: lighten($primary, 40%);
          }
        }
  			&.SCsuffix, &.SCprefix {
          background: rgba(200, 200, 200, .1);
  			}
        .events {
          display: flex;
          width: 100%;
          flex-direction: column;
          div.event {
            font-family: monospace;
            position: relative;
            text-align: center;
            flex-grow: 1;
            margin: 2px;
            span {
              cursor: pointer;
              font-size: 13px;
              padding: 4px;
              line-height: 1em;
              background: #858585;
              color: #fff;
              white-space: nowrap;
              display: block;
              height: 23px;
              max-width: 100%;
              &:hover {
                @include transition(100ms);
                transform: scale(1.05);
              }
            }
            &.mobile {
              overflow: hidden;
              span.sub-event-toggle {
                text-indent: -9999999px;
                cursor: pointer;
                width: 40%;
                border-radius: 20px;
                max-height: 18px;
                max-width: 18px;
              }
            }
    			}

        }
        &.meta-container {
          height: 0;
          overflow: hidden;
          @include transition(300ms);
          &.show {
            @include transition(300ms);

          }

        }
        &.eventMeta {
          // border-style: hidden;
          .la-ball-fall {
            text-align: center;
          }

        }
  		}
  	}

  }
}
#publicCalendar, #mindEventList {
  .meta_inner_container {
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: space-between;
    a.button{
      &.button-link {
        @include button-link;
      }
    }
    .left-content, .right-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .meta-item {
      span {
        display: block;
        &.label {
          text-transform: uppercase;
          font-weight: bold;
          font-size: .7em;
          opacity: .8;
        }
        &.value {
          margin-bottom: 10px;
          &.eventlink {
            text-align: right;
            display: flex;
            flex-direction: row;
            .price {
              padding: 6px;
              font-family: monospace;
            }
          }
          &.eventdescription {
            font-size: .9em;
            line-height: 1.4em;
            padding-right: 10px;
          }
        }
      }
      &.offers {
        display: flex;
        flex-wrap: wrap;
        max-width: 30%;
        .cost {
          margin-top: 5px;

        }
      }
    }
  }
}
#archiveContainer, #singleEventContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  .events-wrap, .content-wrap {
    margin-bottom: 2em;
  }
  section.content{
    display: flex;
    .featured-image-wrap {
      flex-grow: 1;
      min-width: 400px;
      img {
        width: 100%;
      }
    }
    .content-wrap {
      flex-grow: 2;
    }
  }

}
#mindEventList {
  h4.day-label {
    text-align: center;
    margin: 45px 0 15px;
  }
  p.no-events {
    text-align: center;
    font-weight: bold;
  }
  .meta_inner_container {
    padding: 10px;
    margin-bottom: 20px;
    .meta-item {
      span {
        &.value {
          margin-bottom: 5px;
          &.eventdescription {
            font-size: .85em;
            line-height: 1.35em;
            padding-right: 10px;
          }
        }

      }
    }
  }
}

#mindCalanderList.event-list {
  display: flex;
  flex-direction: column;
  .list_day_container {
    flex-basis: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $light;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .day-label{
      flex-basis: 100%;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 6px;
      margin-top: 15px;
    }
    .item_meta_container {
      flex-basis: 100%;
      display: flex;
      padding-left: 15px;
      .meta_item {
        padding: 6px 0;
        span.label {
          display: block;
          text-transform: uppercase;
          font-weight: bold;
          font-size: .6em;
          white-space: nowrap;
        }
        span.value {

          &.eventstarttime {
            font-weight: bold;
          }
        }
        &.starttime {
          flex-basis: 10%;
        }
        &.cost {
          flex-basis: 18%;
        }
        &.description {
          flex-basis: 52%;
        }
        &.link {
          flex-basis: 20%;
          align-items: center;
          justify-content: flex-end;
          display: flex;
          a.button{
            @include button-link;
          }
        }
        &.offers {
          display: flex;
          flex-wrap: wrap;
          max-width: 30%;
          .cost {
            margin: 0 8px 5px 8px;
          }
        }
      }

    }
  }
}
