@import "helpers/px-to-rem";
@import "helpers/appearance";
@import "inputs/text";
@import "inputs/button";
@import "inputs/radio";
@import "inputs/checkbox";
@import "inputs/select";

.mindevents-forms {
  input[type=text],
  input[type=url],
  input[type=email],
  input[type=password],
  input[type=number],
  input[type=time] {
    @include sassy-text;
  }

  textarea {
    @include sassy-textarea;
  }
  .select-wrap {
    select {
      max-width: unset;
      background: unset;
    }
    @include sassy-select;
  }
  input.validate {
    border: 1px solid $danger;
    background: lighten($danger, 35%);
  }


}
